@media (max-width: 0px) {
    #background-video { display: none; }
    body {
      background: url("SOURCES/Wallpaper.mp4") no-repeat;
      background-size: cover;
    }
}

html {

    text-align: center;
    line-height: 0.1;
    text-shadow: 0 0 7px rgb(77, 1, 70), 0 0 10px rgb(100, 0, 87), 0 0 21px rgb(104, 0, 86), 0 0 42px #430049, 0 0 82px #68006b;

}

.container {

    width: 35%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20%;
    padding-top: 20px;
    border-radius: 25px;

}

.box a {
    font-family: "Microsoft Himalaya";
    color: white;
    text-decoration: none;
    font-size: 2vw;

}

.box h2 {

    font-family: "seagram tfb";
    color: white;
    font-size: 4vw;

}


.box button {

    font-family: "Microsoft Himalaya";
    color: white;
    text-decoration: none;
    font-size: 2vw;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    text-shadow: 0 0 7px rgb(117, 0, 121), 0 0 10px rgb(100, 0, 95), 0 0 21px rgb(98, 0, 117), 0 0 42px #580258, 0 0 82px #520055;

}

.box button:hover {

    cursor: pointer;

}


#background-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
}